@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
  font-family: "JeongseonArirangHon";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangHON-RegularA1.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

:not(header) > [class*=-inner] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8vh;
  padding: 20vh 12vw;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .header-inner {
  position: relative;
  width: 100%;
  display: flex;
  padding: 4vh 5vw;
  justify-content: space-between;
}
header .header-inner .logo {
  position: relative;
  min-width: 12vw;
  padding-top: 5.2%;
  height: 0;
}
header .header-inner .logo a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .header-inner .logo a img {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-inner .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
header .header-inner .menu nav.gnb {
  width: -moz-fit-content;
  width: fit-content;
}
header .header-inner .menu nav.gnb ul.gnb-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  list-style: none;
}
header .header-inner .menu nav.gnb ul.gnb-wrap li.gnb-list a.gnb-text {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: -1px;
}
header .header-inner .menu button.menu-btn {
  padding: 14px 20px;
  border: none;
  background-color: #7C1216;
}
header .header-inner .menu button.menu-btn img {
  width: 20px;
  transform: translateY(1px);
  filter: invert(1);
  margin-right: 5px;
}
header .header-inner .menu button.menu-btn span.text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
}

footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #BCA48A;
}
footer .footer-inner {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6vh 12vw;
  justify-content: space-between;
  align-items: center;
}
footer .footer-inner .footer-main {
  display: flex;
  align-items: center;
  gap: 3vw;
}
footer .footer-inner .footer-main .footer-logo {
  position: relative;
  min-width: 12vw;
  padding-top: 10.5%;
  cursor: pointer;
}
footer .footer-inner .footer-main .footer-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-inner .footer-main .footer-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #FFFFFF;
}
footer .footer-inner .footer-main .footer-info address {
  font-style: normal;
}
footer .footer-inner .footer-main .footer-info p.copyright {
  margin: 0;
}
footer .footer-inner .footer-actions {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.5vh;
}
footer .footer-inner .footer-actions .any-sites {
  position: relative;
  height: 30%;
}
footer .footer-inner .footer-actions .any-sites button {
  position: relative;
  padding: 0.8vh 1vw;
  border-radius: 5px;
  border: none;
  background-color: #774E35;
}
footer .footer-inner .footer-actions .any-sites button span {
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
}
footer .footer-inner .footer-actions .any-sites button span::before {
  content: "\f229";
  font-family: bootstrap-icons;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  color: #FFFFFF;
  margin-right: 10px;
  transform: translateY(1px);
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists {
  display: none;
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists.active {
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  list-style: none;
  margin-bottom: 3px;
  border: 1px solid #BCA48A;
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists.active li.any-site-list {
  padding: 5px 10px;
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists.active li.any-site-list a {
  font-size: 12px;
}
footer .footer-inner .footer-actions .sns-links {
  position: relative;
  display: flex;
  height: 30%;
  gap: 20px;
}
footer .footer-inner .footer-actions .sns-links > * {
  position: relative;
  cursor: pointer;
}
footer .footer-inner .footer-actions .sns-links > * img {
  width: 1.5vw;
  filter: invert(1);
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

.hide {
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  text-indent: -9999em;
}

.main-page-container {
  position: relative;
  width: 100%;
  top: 100%;
  z-index: 50;
}
.main-page-container section.slide-banner {
  position: relative;
  width: 100%;
  display: flex;
}
.main-page-container section.slide-banner .slide-wrap {
  position: relative;
}
.main-page-container section.slide-banner .slide-wrap .banner {
  position: relative;
  display: flex;
  padding: 0 12.5vw;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  background-color: #f3eede;
  background-size: cover;
}
.main-page-container section.slide-banner .slide-wrap .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/top-bg-1.jpg);
  background-size: cover;
  opacity: 0.5;
  z-index: 1;
}
.main-page-container section.slide-banner .slide-wrap .banner > [class*=-section] {
  transform: translateY(8%);
}
.main-page-container section.slide-banner .slide-wrap .banner .title-section {
  display: flex;
  flex-direction: column;
  font-family: "JeongseonArirangHon";
  z-index: 20;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.main-page-container section.slide-banner .slide-wrap .banner .title-section span.sub-title {
  font-size: 3em;
}
.main-page-container section.slide-banner .slide-wrap .banner .title-section span.main-title {
  font-size: 6em;
  line-height: 1.5em;
}
.main-page-container section.slide-banner .slide-wrap .banner .thum-section {
  z-index: 20;
}
.main-page-container section.slide-banner .slide-wrap .banner .thum-section .container {
  position: relative;
  width: 30vw;
  height: 0;
  padding-top: 120%;
  border-top-right-radius: 80px;
  border-bottom-left-radius: 80px;
  overflow: hidden;
}
.main-page-container section.slide-banner .slide-wrap .banner .thum-section .container > img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-container section.slide-banner .slide-wrap .banner.first::before {
  background-position-y: 10%;
}
.main-page-container section.slide-banner .slide-wrap .banner.second::before {
  background-position-y: 80%;
}
.main-page-container section.slide-banner .btn-items {
  position: absolute;
  top: 70vh;
  left: 12vw;
  width: 10%;
}
.main-page-container section.slide-banner .btn-items [class*=swiper-button] {
  padding: 30px;
  border-radius: 50%;
  border: 3px solid #222222;
}
.main-page-container section.slide-banner .btn-items [class*=swiper-button]::after {
  content: "\f285";
  font-family: bootstrap-icons;
  color: #222222;
  font-size: 32px;
}
.main-page-container section.slide-banner .btn-items [class*=swiper-button]:first-child::after {
  transform: rotate(180deg);
}
.main-page-container section.about {
  position: relative;
  width: 100%;
  background-color: #F3EEDE;
}
.main-page-container section.about .about-inner {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20vh;
  height: 100%;
}
.main-page-container section.about .about-inner > [class*=-section] {
  display: flex;
  justify-content: space-between;
  z-index: 60;
  width: 100%;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .title h2.main-title {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 56px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  letter-spacing: -2px;
  z-index: 30;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .title h2.main-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #BCA48A;
  z-index: -1;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .title p.sub-title {
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -2px;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .stat-box {
  font-size: 24px;
  font-weight: 600;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .stat-box p.stat-intro {
  margin: auto;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .stat-box .stat-count {
  display: flex;
  gap: 1vw;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .stat-box .stat-count span {
  font-size: 24px;
  font-weight: 600;
  color: #774E35;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section .stat-box .stat-count span.stat-type-num {
  font-family: "Montserrat", sans-serif;
  font-size: 60px;
  font-weight: 800;
  letter-spacing: -2px;
}
.main-page-container section.about .about-inner > [class*=-section] .hero-section p.info-text {
  width: 70%;
  word-break: keep-all;
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
}
.main-page-container section.about .about-inner > [class*=-section] .thum-section {
  position: relative;
}
.main-page-container section.about .about-inner > [class*=-section] .thum-section .main-thum {
  position: relative;
  min-width: 25vw;
  right: 0;
  height: 0;
  padding-top: 70%;
  transform: translateY(-20%);
  border-top-right-radius: 18% 30%;
  border-bottom-left-radius: 18% 30%;
  overflow: hidden;
}
.main-page-container section.about .about-inner > [class*=-section] .thum-section .main-thum img {
  position: absolute;
  width: 150%;
  height: 120%;
  bottom: 0;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page-container section.about .about-inner > [class*=-section] .thum-section .sub-thum {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 12vw;
  height: 0;
  transform: translateX(-50%);
  padding-top: 40%;
  border-top-left-radius: 25% 30%;
  border-bottom-right-radius: 25% 30%;
  overflow: hidden;
}
.main-page-container section.about .about-inner > [class*=-section] .thum-section .sub-thum img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-container section.about .about-inner .about-bg {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto auto auto;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.main-page-container section.about .about-inner .about-bg > [class*=-bg] {
  position: relative;
  margin-top: auto;
  transform: translateY(-50%);
}
.main-page-container section.about .about-inner .about-bg > [class*=-bg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.2;
}
.main-page-container section.about .about-inner .about-bg .top-bg {
  width: 20vw;
  padding-top: 40%;
}
.main-page-container section.about .about-inner .about-bg .bottom-bg {
  position: relative;
  width: 35vw;
  padding-top: 30%;
  grid-column: 3;
  grid-row: 3;
}
.main-page-container section.about .about-inner .about-bg .bottom-bg img {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page-container section.lyrics {
  position: relative;
}
.main-page-container section.lyrics::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/pattern.svg);
  opacity: 0.1;
}
.main-page-container section.lyrics .lyrics-inner {
  position: relative;
}
.main-page-container section.lyrics .lyrics-inner .title h2.main-title {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 56px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  letter-spacing: -2px;
  z-index: 30;
}
.main-page-container section.lyrics .lyrics-inner .title h2.main-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #BCA48A;
  z-index: -1;
}
.main-page-container section.lyrics .lyrics-inner .title p.sub-title {
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -2px;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  gap: 3vw;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-view {
  position: relative;
  display: flex;
  align-items: center;
  width: 40%;
  height: auto;
  padding: 5vh 3vw;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-view p.lyric {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
  font-size: 35px;
  line-height: 48px;
  font-weight: 700;
  margin: 0;
  z-index: 50;
  word-break: keep-all;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-view .lyric-border {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #774E35;
  z-index: 20;
  background-color: #FFFFFF;
  border-top-right-radius: 20%;
  border-bottom-left-radius: 20%;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-view .lyric-border:last-child {
  background-color: #BCA48A;
  border-radius: 0;
  z-index: 19;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-means {
  width: 55%;
  padding: 2vh 0;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-means p.lyric-mean {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4vh;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-means p.lyric-mean span {
  font-size: 28px;
  line-height: 42px;
  font-weight: 700;
  letter-spacing: -1px;
  word-break: keep-all;
}
.main-page-container section.lyrics .lyrics-inner .lyric-container .lyric-means p.lyric-mean span em {
  font-style: normal;
  font-size: 40px;
  color: #774E35;
}
.main-page-container section.types {
  background-color: #F3EEDE;
}
.main-page-container section.types .types-inner {
  position: relative;
}
.main-page-container section.types .types-inner .title h2.main-title {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 56px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  letter-spacing: -2px;
  z-index: 30;
}
.main-page-container section.types .types-inner .title h2.main-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #BCA48A;
  z-index: -1;
}
.main-page-container section.types .types-inner .title p.sub-title {
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -2px;
}
.main-page-container section.types .types-inner .type-container {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns {
  display: flex;
  width: 100%;
  gap: 1vw;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button {
  padding: 1vh 0;
  flex: 1;
  background-color: transparent;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.area-tab-btn {
  border: 3px solid #7C1216;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.area-tab-btn span {
  color: #7C1216;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.modern-tab-btn {
  border: 3px solid #212447;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.modern-tab-btn span {
  color: #212447;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button span {
  font-size: 24px;
  font-weight: 700;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.active {
  border: 0;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.active.area-tab-btn {
  background-color: #7C1216;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.active.modern-tab-btn {
  background-color: #212447;
}
.main-page-container section.types .types-inner .type-container .type-tab-btns button.active span {
  color: #FFFFFF;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap] {
  display: none;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] {
  list-style: none;
  display: flex;
  gap: 1vw;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] {
  width: 100%;
  position: relative;
  cursor: pointer;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] .thum {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 50%;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] .thum img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] .text-box {
  position: relative;
  padding: 8% 4%;
  color: #FFFFFF;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] .text-box p.card-title {
  font-family: "Nanum Myeongjo", serif;
  font-size: 30px;
  margin: 0 0 2vh 0;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] .text-box p.card-title span.sub-title {
  display: inline-block;
  font-size: 18px;
  margin-left: 0.5vw;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap > [class*=-list-wrap].active > ul[class*=-list-cards] > li[class*=-list-card] .text-box span.card-info {
  font-size: 13px;
  word-break: keep-all;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap .area-list-wrap ul.area-list-cards li.area-list-card {
  background-color: #7C1216;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap .area-list-wrap button.more-btn {
  position: relative;
  padding: 1.5vh 7vh;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  border: none;
  background-color: #222222;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap .area-list-wrap button.more-btn span {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap .modern-list-wrap ul.modern-list-cards li.modern-list-card {
  background-color: #212447;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap .modern-list-wrap button.more-btn {
  position: relative;
  padding: 1.5vh 7vh;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  border: none;
  background-color: #222222;
}
.main-page-container section.types .types-inner .type-container .type-list-wrap .modern-list-wrap button.more-btn span {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}
.main-page-container section.unesco .unesco-inner {
  position: relative;
}
.main-page-container section.unesco .unesco-inner .title h2.main-title {
  position: relative;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 56px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  letter-spacing: -2px;
  z-index: 30;
}
.main-page-container section.unesco .unesco-inner .title h2.main-title::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: 0;
  display: block;
  background-color: #BCA48A;
  z-index: -1;
}
.main-page-container section.unesco .unesco-inner .title p.sub-title {
  font-size: 32px;
  font-family: "Nanum Myeongjo", serif;
  font-weight: 800;
  line-height: 30px;
  letter-spacing: -2px;
}
.main-page-container section.unesco .unesco-inner .unesco-container {
  display: flex;
  gap: 3vw;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section {
  position: relative;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 3vh;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section p.unesco-info {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section p.unesco-info span {
  font-size: 32px;
  line-height: 48px;
  color: #222222;
  letter-spacing: -1px;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section p.unesco-info span em {
  font-style: normal;
  font-size: 40px;
  font-weight: 700;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section button.more-btn {
  position: relative;
  padding: 1.5vh 7vh;
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 40px;
  border: none;
  background-color: #222222;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section button.more-btn span {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 500;
}
.main-page-container section.unesco .unesco-inner .unesco-container .hero-section .hero-section-bg {
  position: absolute;
  top: 50%;
  width: 50%;
  height: 100%;
  transform: translateY(-50%);
  opacity: 0.2;
  -webkit-mask-image: url(../images/icon/unesco.png);
          mask-image: url(../images/icon/unesco.png);
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  background-color: #BCA48A;
  z-index: -1;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section {
  position: relative;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .main-thum {
  position: relative;
  min-width: 25vw;
  right: 0;
  height: 0;
  padding-top: 70%;
  transform: translateY(-20%);
  border-top-right-radius: 18% 30%;
  border-bottom-left-radius: 18% 30%;
  overflow: hidden;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .main-thum img {
  position: absolute;
  width: 150%;
  height: 120%;
  bottom: 0;
  right: 0;
  -o-object-fit: contain;
     object-fit: contain;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .sub-thum {
  position: absolute;
  left: 0;
  bottom: 0;
  min-width: 12vw;
  height: 0;
  transform: translateX(-50%);
  padding-top: 40%;
  border-top-left-radius: 25% 30%;
  border-bottom-right-radius: 25% 30%;
  overflow: hidden;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .sub-thum img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .main-thum img {
  width: 120%;
  left: -10%;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .sub-thum {
  background-color: #BCA48A;
  border-radius: 50%;
  padding-top: 48%;
  z-index: 20;
}
.main-page-container section.unesco .unesco-inner .unesco-container .thum-section .sub-thum .ichh-logo {
  position: absolute;
  width: 70%;
  height: 70%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-mask-image: url(../images/icon/ichh-logo.svg);
          mask-image: url(../images/icon/ichh-logo.svg);
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-position: center center;
          mask-position: center center;
  background-color: #FFFFFF;
  z-index: 50;
}
.main-page-container section.content .content-inner {
  position: relative;
  height: 100%;
  flex-direction: row;
  gap: 2vw;
}
.main-page-container section.content .content-inner [class*=content-] article {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}
.main-page-container section.content .content-inner [class*=content-] article h2.content-title {
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}
.main-page-container section.content .content-inner .content-left {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
  gap: 5vh;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards {
  display: flex;
  gap: 1vw;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card {
  position: relative;
  width: 100%;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card > [class*=video-] {
  display: none;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card > [class*=video-].active {
  display: block;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card .video-thum {
  position: relative;
  max-width: 20vw;
  padding-top: 60%;
  background-color: #222222;
  cursor: pointer;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card .video-thum::after {
  content: "\f4f2";
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  font-family: bootstrap-icons;
  font-size: 40px;
  color: #FFFFFF;
  transform: translate(-50%, -50%);
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card .video-thum img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .video-cards .video-card .video-youtube {
  position: relative;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .news-wrap {
  position: relative;
  width: 100%;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .news-wrap ul.news-lists {
  list-style: none;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .news-wrap ul.news-lists li.news-list {
  position: relative;
  width: 100%;
  padding: 10px 5px;
  border-bottom: 1px solid rgba(34, 34, 34, 0.3);
  overflow: hidden;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .news-wrap ul.news-lists li.news-list a {
  position: relative;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.main-page-container section.content .content-inner .content-left article.arirang-story .news-wrap ul.news-lists li.news-list:last-child {
  border: none;
}
.main-page-container section.content .content-inner .content-left article.arirang-show {
  position: relative;
}
.main-page-container section.content .content-inner .content-left article.arirang-show ul.arirang-show-lists {
  position: relative;
  list-style: none;
  display: flex;
  gap: 1vw;
}
.main-page-container section.content .content-inner .content-left article.arirang-show ul.arirang-show-lists li.arirang-show-list {
  width: 100%;
  cursor: pointer;
  box-shadow: 0 0 15px rgba(34, 34, 34, 0.5);
}
.main-page-container section.content .content-inner .content-left article.arirang-show ul.arirang-show-lists li.arirang-show-list .thum {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 140%;
}
.main-page-container section.content .content-inner .content-left article.arirang-show ul.arirang-show-lists li.arirang-show-list .thum img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
.main-page-container section.content .content-inner .content-right {
  position: relative;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.main-page-container section.content .content-inner .content-right article.museum-info {
  position: relative;
  height: 100%;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  gap: 2vh;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info .museum-map {
  position: relative;
  width: 100%;
  height: 60%;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info .museum-map iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info address.museum-overview {
  position: relative;
  display: block;
  padding: 5% 4%;
  height: 50%;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info address.museum-overview dl {
  font-style: normal;
  font-size: 20px;
  margin: 0;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info address.museum-overview dl dt {
  font-weight: 800;
  display: block;
  margin-bottom: 1vh;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info address.museum-overview dl dt:not(:first-child) {
  margin-top: 3vh;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info address.museum-overview dl dt em {
  display: inline-block;
  font-style: normal;
  font-size: 14px;
  margin-left: 0.5vw;
  font-weight: 700;
  color: #774E35;
}
.main-page-container section.content .content-inner .content-right article.museum-info .content-info address.museum-overview dl dd {
  margin: 0;
}