@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("//fonts.googleapis.com/earlyaccess/nanummyeongjo.css");
@import url("http://fonts.googleapis.com/earlyaccess/nanumgothic.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
  font-family: "JeongseonArirangHon";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/JSArirangHON-RegularA1.woff") format("woff");
  font-weight: normal;
  font-display: swap;
}
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  font-family: "Nanum Gothic", sans-serif;
}

:not(header) > [class*=-inner] {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 8vh;
  padding: 20vh 12vw;
}

header {
  position: fixed;
  width: 100%;
  z-index: 100;
}
header .header-inner {
  position: relative;
  width: 100%;
  display: flex;
  padding: 4vh 5vw;
  justify-content: space-between;
}
header .header-inner .logo {
  position: relative;
  min-width: 12vw;
  padding-top: 5.2%;
  height: 0;
}
header .header-inner .logo a {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .header-inner .logo a img {
  position: absolute;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
header .header-inner .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}
header .header-inner .menu nav.gnb {
  width: -moz-fit-content;
  width: fit-content;
}
header .header-inner .menu nav.gnb ul.gnb-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3vw;
  list-style: none;
}
header .header-inner .menu nav.gnb ul.gnb-wrap li.gnb-list a.gnb-text {
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 800;
  font-size: 24px;
  letter-spacing: -1px;
}
header .header-inner .menu button.menu-btn {
  padding: 14px 20px;
  border: none;
  background-color: #7C1216;
}
header .header-inner .menu button.menu-btn img {
  width: 20px;
  transform: translateY(1px);
  filter: invert(1);
  margin-right: 5px;
}
header .header-inner .menu button.menu-btn span.text {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
}

footer {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #BCA48A;
}
footer .footer-inner {
  position: relative;
  width: 100%;
  height: 100%;
  flex-direction: row;
  padding: 6vh 12vw;
  justify-content: space-between;
  align-items: center;
}
footer .footer-inner .footer-main {
  display: flex;
  align-items: center;
  gap: 3vw;
}
footer .footer-inner .footer-main .footer-logo {
  position: relative;
  min-width: 12vw;
  padding-top: 10.5%;
  cursor: pointer;
}
footer .footer-inner .footer-main .footer-logo img {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
footer .footer-inner .footer-main .footer-info {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 3px;
  color: #FFFFFF;
}
footer .footer-inner .footer-main .footer-info address {
  font-style: normal;
}
footer .footer-inner .footer-main .footer-info p.copyright {
  margin: 0;
}
footer .footer-inner .footer-actions {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.5vh;
}
footer .footer-inner .footer-actions .any-sites {
  position: relative;
  height: 30%;
}
footer .footer-inner .footer-actions .any-sites button {
  position: relative;
  padding: 0.8vh 1vw;
  border-radius: 5px;
  border: none;
  background-color: #774E35;
}
footer .footer-inner .footer-actions .any-sites button span {
  display: inline-block;
  font-size: 14px;
  color: #FFFFFF;
}
footer .footer-inner .footer-actions .any-sites button span::before {
  content: "\f229";
  font-family: bootstrap-icons;
  font-size: 12px;
  line-height: 14px;
  display: inline-block;
  color: #FFFFFF;
  margin-right: 10px;
  transform: translateY(1px);
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists {
  display: none;
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists.active {
  display: block;
  background-color: #fff;
  position: absolute;
  bottom: 100%;
  list-style: none;
  margin-bottom: 3px;
  border: 1px solid #BCA48A;
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists.active li.any-site-list {
  padding: 5px 10px;
}
footer .footer-inner .footer-actions .any-sites ul.any-site-lists.active li.any-site-list a {
  font-size: 12px;
}
footer .footer-inner .footer-actions .sns-links {
  position: relative;
  display: flex;
  height: 30%;
  gap: 20px;
}
footer .footer-inner .footer-actions .sns-links > * {
  position: relative;
  cursor: pointer;
}
footer .footer-inner .footer-actions .sns-links > * img {
  width: 1.5vw;
  filter: invert(1);
  opacity: 0.5;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: 500;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
}

input {
  border: none;
}

.hide {
  display: block;
  width: 1px;
  height: 1px;
  font-size: 1px;
  text-indent: -9999em;
}

.unesco-heritage-container section {
  background-color: #F3EEDE;
}
.unesco-heritage-container section.top-banner {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: #F3EEDE;
}
.unesco-heritage-container section.top-banner::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../images/top-bg-2.jpg);
  background-position: center 70%;
  background-size: cover;
  opacity: 0.4;
  z-index: 0;
  background-position: center 95%;
}
.unesco-heritage-container section.top-banner .top-banner-inner {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  width: 100%;
  z-index: 50;
}
.unesco-heritage-container section.top-banner .top-banner-inner .title-section {
  display: flex;
  flex-direction: column;
  font-family: "JeongseonArirangHon";
  z-index: 20;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.unesco-heritage-container section.top-banner .top-banner-inner .title-section span.sub-title {
  font-size: 3em;
}
.unesco-heritage-container section.top-banner .top-banner-inner .title-section span.main-title {
  font-size: 6em;
  line-height: 1.5em;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner {
  flex-direction: row;
  padding: 10vh 12vw;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 5vh;
  justify-content: space-between;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .date-location {
  display: flex;
  align-items: flex-end;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .date-location span.date {
  display: inline-block;
  font-size: 65px;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: 800;
  color: #222222;
  margin-right: 20px;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .date-location span.location {
  display: inline-block;
  font-size: 35px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  color: #774E35;
  border-bottom: 2px solid #774E35;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .date-location span.location em {
  font-style: normal;
  font-weight: 800;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section p.info-text {
  font-size: 32px;
  line-height: 48px;
  font-family: "Nanum Gothic", sans-serif;
  font-weight: 500;
  letter-spacing: -1px;
  margin: 0;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section p.info-text span {
  font-style: normal;
  font-weight: 800;
  color: #774E35;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .link-btns {
  display: flex;
  gap: 1vw;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .link-btns > [class*=-btn] {
  padding: 1.5vh 3vw;
  border: 1px solid #222222;
  border-radius: 50px;
  cursor: pointer;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .link-btns > [class*=-btn] img {
  transform: translateY(3px);
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .info-section .link-btns > [class*=-btn] span {
  display: inline-block;
  font-size: 16px;
  line-height: 12px;
  font-weight: 600;
  margin-left: 8px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .simbol-section {
  position: relative;
  width: 30%;
}
.unesco-heritage-container section.heritage-story .heritage-story-inner .simbol-section .simbol {
  position: absolute;
  top: 0%;
  width: 100%;
  height: 100%;
  -webkit-mask-image: url(../images/icon/unesco.png);
          mask-image: url(../images/icon/unesco.png);
  -webkit-mask-position: center center;
          mask-position: center center;
  -webkit-mask-size: contain;
          mask-size: contain;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
  background-color: #774E35;
  opacity: 0.2;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner {
  padding: 10vh 12vw;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .title-area {
  width: -moz-fit-content;
  width: fit-content;
  display: inline-block;
  border-bottom: 2px solid rgba(119, 78, 53, 0.4);
  font-family: "Nanum Gothic", sans-serif;
  color: #222222;
  letter-spacing: -1px;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .title-area span.tag {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .title-area h2 {
  font-size: 32px;
  line-height: 48px;
  font-weight: 800;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .text-area {
  width: 60%;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .text-area p.description {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  margin: 0;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .text-area p.description span.description-info {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 25px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1px;
}
.unesco-heritage-container section.heritage-reasons .heritage-reasons-inner .heritage-reason .text-area p.description span.description-info em.source {
  font-style: normal;
  font-size: 12px;
}
.unesco-heritage-container section.arirang-slogan {
  background-color: #F3EEDE;
}
.unesco-heritage-container section.arirang-slogan p.slogan {
  display: flex;
  flex-direction: column;
  gap: 0.5vh;
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 36px;
}
.unesco-heritage-container section.arirang-slogan p.slogan span {
  letter-spacing: -1px;
}
.unesco-heritage-container section.arirang-slogan p.slogan span em.slogan-point {
  font-style: normal;
  font-weight: 700;
  color: #774E35;
}