@use "variables" as vars;
@use "reset";

// ##### COMMON STYLES #####
body{
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: vars.$Kor-cont;
}
img{
    // max-width: 10vw;
}
:not(header)>[class*=-inner]{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 8vh;
    padding: 20vh 12vw;
}

// MIXIN STYLE
@mixin title-container{
    display: flex;
    flex-direction: column;
    font-family: vars.$Kor-top;
    z-index: 20;
    user-select: none;
    span.sub-title{
        font-size: 3em;
    }
    span.main-title{
        font-size: 6em;
        line-height: 1.5em;
    }
}
@mixin thum-container{
    z-index: 20;
    .container{
        position: relative;
        width: 30vw;
        height: 0;
        padding-top: 120%;
        border-top-right-radius: 80px;
        border-bottom-left-radius: 80px;
        overflow: hidden;
        &>img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
@mixin thum-section{
    position: relative;
    .main-thum{
        position: relative;
        min-width: 25vw;
        right: 0;
        height: 0;
        padding-top: 70%;
        transform: translateY(-20%);
        border-top-right-radius: 18% 30%;
        border-bottom-left-radius: 18% 30%;
        overflow: hidden;
        img{
            position: absolute;
            width: 150%;
            height: 120%;
            bottom: 0;
            right: 0;
            object-fit: contain;
        }
    }
    .sub-thum{
        position: absolute;
        left: 0;
        bottom: 0;
        min-width: 12vw;
        height: 0;
        transform: translateX(-50%);
        padding-top: 40%;
        border-top-left-radius: 25% 30%;
        border-bottom-right-radius: 25% 30%;
        overflow: hidden;
        img{
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            object-fit: cover;
        }
    }
}
@mixin more-btn{
    position: relative;
    padding: 1.5vh 7vh;
    display: block;
    width: fit-content;
    border-radius: 40px;
    border: none;
    background-color: vars.$black;
    span{
        
        color: vars.$white;
        font-size: 24px;
        font-weight: 500;
    }
}
@mixin title{
    h2.main-title{
        position: relative;
        display: block;
        width: fit-content;
        font-size: 56px;
        font-family: vars.$Kor-head;
        font-weight: 800;
        letter-spacing: -2px;
        z-index: 30;
        &::before{
            content: '';
            position: absolute;
            width: 100%;
            height: 30px;
            left: 0;
            bottom: 0;
            display: block;
            background-color: vars.$sand-brown;
            z-index: -1;
        }
    }
    p.sub-title{
        font-size: 32px;
        font-family: vars.$Kor-head;
        font-weight: 800;
        line-height: 30px;
        letter-spacing: -2px;
    }
}
@mixin top-banner-after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../images/top-bg-2.jpg);
    background-position: center 70%;
    background-size: cover;
    opacity: 0.4;
    z-index: 0;
}
@mixin video-title{
    position: relative;
    font-family: vars.$Kor-head;
    font-size: 32px;
    font-weight: 700;
    &::after{
        content: '';
        position: absolute;
        display: inline-block;
        vertical-align: middle;
        top: 50%;
        right: 0;
        width: 85%;
        height: fit-content;
        border-bottom: 1px solid vars.$black;
        transform: translateY(-50%);
    }
}
@mixin video-thum{
    position: relative;
    display: block;
    width: 100%;
    padding-top: 50%;
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    background-color: vars.$black;
    &::after{
        content:'\F4F2';
        position: absolute;
        display: inline-block;
        font-family: vars.$bs-font;
        font-size: 4em;
        color: vars.$white;
        user-select: none;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 50;
    }
    img{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.5;
    }
}
@mixin video-youtube{
    position: absolute;
    top: 0;
    display: none;
    &.active{
        position: relative;
        display: block;
        width: 100%;
        padding-top: 50%;
        border-radius: 10px;
        overflow: hidden;
        iframe{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

// ##### HEADER #####
header{
    position: fixed;
    width: 100%;
    z-index: 100;
    border-bottom: 1px solid vars.$dark-brown;
    .header-inner{
        position: relative;
        width: 100%;
        display: flex;
        padding: 3vh 5vw;
        justify-content: space-between;
        .logo{
            position: relative;
            min-width: 9vw;
            padding-top: 4%;
            height: 0;
            a{
                position: absolute;
                display: block;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                img{
                    position: absolute;
                    height: 100%;
                    object-fit: cover;
                }
            }
        }
        .menu{
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 65%;
            nav.gnb{
                width: fit-content;
                ul.gnb-wrap{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    gap: 3vw;
                    list-style: none;
                    li.gnb-list{
                        position: relative;
                        a.gnb-text{
                            display: block;
                            font-family: vars.$Kor-cont;
                            font-weight: 800;
                            font-size: 20px;
                            transform: translateY(3px);
                            letter-spacing: -1px;
                        }
                    }
                }
            }
            button.menu-btn{
                padding: 14px 20px;
                border: none;
                background-color: vars.$crimson;
                img{
                    width: 20px;
                    transform: translateY(1px);
                    filter: invert(1);
                    margin-right: 5px;
                }
                span.text{
                    font-family: vars.$Eng;
                    font-size: 24px;
                    color: vars.$white;
                }
            }
        }
    }
}
// ##### FOOTER #####
footer{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: vars.$sand-brown;
    .footer-inner{
        position: relative;
        width: 100%;
        height: 100%;
        flex-direction: row;
        padding: 6vh 12vw;
        justify-content: space-between;
        align-items: center;
        .footer-main{
            display: flex;
            align-items: center;
            gap: 3vw;
            .footer-logo{
                position: relative;
                min-width: 12vw;
                padding-top: 10.5%;
                cursor: pointer;
                img{
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .footer-info{
                position: relative;
                display: flex;
                flex-direction: column;
                gap: 3px;
                color: vars.$white;
                address{
                    font-style: normal;
                }
                p.copyright{
                    margin: 0;
                }
            }
        }
        .footer-actions{
            position: relative;
            height: 100%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            justify-content: flex-end;
            gap: 1.5vh;
            .any-sites{
                position: relative;
                height: 30%;
                button{
                    position: relative;
                    padding: 0.8vh 1vw;
                    border-radius: 5px;
                    border: none;
                    background-color: vars.$dark-brown;
                    span{
                        display: inline-block;
                        font-size: 14px;
                        color: vars.$white;
                        &::before{
                            content: '\F229';
                            font-family: vars.$bs-font;
                            font-size: 12px;
                            line-height: 14px;
                            display: inline-block;
                            color: vars.$white;
                            margin-right: 10px;
                            transform: translateY(1px);
                        }
                    }
                }
                ul.any-site-lists{
                    display: none;
                }
                ul.any-site-lists.active{
                    display: block;
                    background-color: #fff;
                    position: absolute;
                    bottom: 100%;
                    list-style: none;
                    margin-bottom: 3px;
                    border: 1px solid vars.$sand-brown;
                    li.any-site-list{
                        padding: 5px 10px;
                        a{
                            font-size: 12px;
                        }
                    }
                }
            }
            .sns-links{
                position: relative;
                display: flex;
                height: 30%;
                gap: 20px;
                &>*{
                    position: relative;
                    cursor: pointer;
                    img{
                        width: 1.5vw;
                        filter: invert(1);
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}