@use "variables" as vars;
@use "common";
@use "reset";

.main-page-container{
    position: relative;
    width: 100%;
    top: 100%;
    z-index: 50;
    section.slide-banner{
        position: relative;
        width: 100%;
        display: flex;
        .slide-wrap{
            position: relative;
            .banner{
                position: relative;
                display: flex;
                padding: 0 12.5vw;
                justify-content: space-between;
                align-items: center;
                height: 100vh;
                background-color: rgba(vars.$sand, 1);
                background-size: cover;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/top-bg-1.jpg);
                    background-size: cover;
                    opacity: 0.5;
                    z-index: 1;
                }
                &>[class*=-section]{
                    transform: translateY(8%);
                }
                .title-section{
                    @include common.title-container;
                }
                .thum-section{
                    @include common.thum-container;
                }
                &.first::before{
                    background-position-y: 10%;
                }
                &.second::before{
                    background-position-y: 80%;
                }
            }
        }
        .btn-items{
            position: absolute;
            top: 70vh;
            left: 12vw;
            width: 10%;
            [class*=swiper-button]{
                padding: 30px;
                border-radius: 50%;
                border: 3px solid vars.$black;
                &::after{
                    content: '\F285';
                    font-family: vars.$bs-font;
                    color: vars.$black;
                    font-size: 32px;
                }
                &:first-child::after{
                    transform: rotate(180deg);
                }
            }
        }
    }
    section.about{
        position: relative;
        width: 100%;
        background-color: vars.$sand;
        .about-inner{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20vh;
            height: 100%;
            &>[class*=-section]{
                display: flex;
                justify-content: space-between;
                z-index: 60;
                width: 100%;
                .hero-section{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .title{
                        @include common.title;
                    }
                    .stat-box{
                        
                        font-size: 24px;
                        font-weight: 600;
                        p.stat-intro{
                            margin: auto;
                        }
                        .stat-count{
                            display: flex;
                            gap: 1vw;
                            span{
                                font-size: 24px;
                                font-weight: 600;
                                color: vars.$dark-brown;
                            }
                            span.stat-type-num{
                                font-family: vars.$Eng;
                                font-size: 60px;
                                font-weight: 800;
                                letter-spacing: -2px;
                            }
                        }
                    }
                    p.info-text{
                        width: 70%;
                        word-break: keep-all;
                        
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 500;
                    }
                }
                .thum-section{
                    @include common.thum-section;
                }
            }
            .about-bg{
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 20;
                &>[class*=-bg]{
                    position: relative;
                    margin-top: auto;
                    transform: translateY(-50%);
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        object-fit: cover;
                        opacity: 0.2;
                    }
                }
                .top-bg{
                    width: 20vw;
                    padding-top: 40%;
                }
                .bottom-bg{
                    position: relative;
                    width: 35vw;
                    padding-top: 30%;
                    grid-column: 3;
                    grid-row: 3;
                    img{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        transform: rotateY(180deg);
                        object-fit: contain;
                    }
                }
            }
        }
    }
    section.lyrics{
        position: relative;
        &::after{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url(../images/pattern.svg);
            opacity: 0.2;
        }
        .lyrics-inner{
            position: relative;
            .title{
                @include common.title;
            }
            .lyric-container{
                position: relative;
                display: flex;
                justify-content: space-between;
                height: 100%;
                gap: 3vw;
                .lyric-view{
                    position: relative;
                    display: flex;
                    align-items: center;
                    width: 40%;
                    height: auto;
                    padding: 5vh 3vw;
                    p.lyric{
                        position: relative;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        gap: 5vh;
                        font-size: 35px;
                        line-height: 48px;
                        font-weight: 700;
                        margin: 0;
                        z-index: 50;
                        word-break: keep-all;
                    }
                    .lyric-border{
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        border: 1px solid vars.$dark-brown;
                        z-index: 20;
                        background-color: vars.$white;
                        border-top-right-radius: 20%;
                        border-bottom-left-radius: 20%;
                        &:last-child{
                            background-color: vars.$sand-brown;
                            border-radius: 0;
                            z-index: 19;
                        }
                    }
                }
                .lyric-means{
                    width: 55%;
                    padding: 2vh 0;
                    p.lyric-mean{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        gap: 4vh;
                        span{
                            font-size: 28px;
                            line-height: 42px;
                            font-weight: 700;
                            letter-spacing: -1px;
                            word-break: keep-all;
                            em{
                                font-style: normal;
                                font-size: 40px;
                                color: vars.$dark-brown;
                            }
                        }
                    }
                }
            }
        }
    }
    section.types{
        background-color: vars.$sand;
        .types-inner{
            position: relative;
            .title{
                @include common.title;
            }
            .type-container{
                display: flex;
                flex-direction: column;
                gap: 2vh;
                align-items: center;
                .type-tab-btns{
                    display: flex;
                    width: 100%;
                    gap: 1vw;
                    button{
                        padding: 1vh 0;
                        flex: 1;
                        background-color: transparent;
                        &.area-tab-btn{
                            border: 3px solid vars.$crimson;
                            span{
                                color: vars.$crimson;
                            }
                        }
                        &.modern-tab-btn{
                            border: 3px solid vars.$dark-navy;
                            span{
                                color: vars.$dark-navy;
                            }
                        }
                        span{
                            font-size: 24px;
                            font-weight: 700;
                        }
                    }
                    button.active{
                        border: 0;
                        &.area-tab-btn{
                            background-color: vars.$crimson;
                        }
                        &.modern-tab-btn{
                            background-color: vars.$dark-navy;
                        }
                        span{
                            color: vars.$white;
                        }
                    }
                };
                .type-list-wrap{
                    &>[class*=-list-wrap]{
                        display: none;
                    }
                    &>[class*=-list-wrap].active{
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        gap: 2vh;
                        &>ul[class*=-list-cards]{
                            list-style: none;
                            display: flex;
                            gap: 1vw;
                            &>li[class*=-list-card]{
                                width: 100%;
                                position: relative;
                                cursor: pointer;
                                .thum{
                                    position: relative;
                                    width: 100%;
                                    height: 0;
                                    padding-top: 50%;
                                    img{
                                        position: absolute;
                                        top: 0;
                                        left: 0;
                                        width: 100%;
                                        height: 100%;
                                        object-fit: cover;
                                    }
                                }
                                .text-box{
                                    position: relative;
                                    padding: 8% 4%;
                                    color: vars.$white;
                                    p.card-title{
                                        font-family: vars.$Kor-head;
                                        font-size: 30px;
                                        margin: 0 0 2vh 0;
                                        span.sub-title{
                                            display: inline-block;
                                            font-size: 18px;
                                            margin-left: 0.5vw;
                                        }
                                    }
                                    span.card-info{
                                        font-size: 13px;
                                        word-break: keep-all;
                                    }
                                }
                            }
                        }
                    }
                    .area-list-wrap{
                        ul.area-list-cards{
                            li.area-list-card{
                                background-color: vars.$crimson;
                            }
                        }
                        button.more-btn{
                            @include common.more-btn;
                        }
                    }
                    .modern-list-wrap{
                        ul.modern-list-cards{
                            li.modern-list-card{
                                background-color: vars.$dark-navy;
                            }
                        }
                        button.more-btn{
                            @include common.more-btn;
                        }
                    }
                }
            }
        }
    }
    section.unesco{
        .unesco-inner{
            position: relative;
            .title{
                @include common.title;
            }
            .unesco-container{
                display: flex;
                gap: 3vw;
                .hero-section{
                    position: relative;
                    width: 60%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    gap: 3vh;
                    p.unesco-info{
                        display: flex;
                        flex-direction: column;
                        gap: 5vh;
                        span{
                            
                            font-size: 32px;
                            line-height: 48px;
                            color: vars.$black;
                            letter-spacing: -1px;
                            em{
                                font-style: normal;
                                font-size: 40px;
                                font-weight: 700;
                            }
                        }
                    }
                    button.more-btn{
                        @include common.more-btn;
                    }
                    .hero-section-bg{
                        position: absolute;
                        top: 50%;
                        width: 50%;
                        height: 100%;
                        transform: translateY(-50%);
                        opacity: 0.2;
                        mask-image: url(../images/icon/unesco.png);
                        mask-repeat: no-repeat;
                        mask-size: contain;
                        mask-position: center center;
                        background-color: vars.$sand-brown;
                        z-index: -1;
                    }
                }
                .thum-section{
                    @include common.thum-section;
                    .main-thum{
                        img{
                            width: 120%;
                            left: -10%;
                        }
                    }
                    .sub-thum{
                        background-color: vars.$sand-brown;
                        border-radius: 50%;
                        padding-top: 48%;
                        z-index: 20;
                        .ichh-logo{
                            position: absolute;
                            width: 70%;
                            height: 70%;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            mask-image: url(../images/icon/ichh-logo.svg);
                            mask-size: contain;
                            mask-position: center center;
                            background-color: vars.$white;
                            z-index: 50;
                        }
                    }
                }
            }
        }
    }
    section.content{
        .content-inner{
            position: relative;
            height: 100%;
            flex-direction: row;
            gap: 2vw;
            [class*=content-]{
                article{
                    display: flex;
                    flex-direction: column;
                    gap: 3vh;
                    h2.content-title{
                        
                        font-size: 36px;
                        line-height: 40px;
                        font-weight: 700;
                    }
                }
            }
            .content-left{
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
                gap: 5vh;
                article.arirang-story{
                    .video-cards{
                        display: flex;
                        gap: 1vw;
                        .video-card{
                            position: relative;
                            width: 100%;
                            &>[class*=video-]{
                                display: none;
                            }
                            &>[class*=video-].active{
                                display: block;
                            }
                            .video-thum{
                                position: relative;
                                max-width: 20vw;
                                padding-top: 60%;
                                background-color: vars.$black;
                                cursor: pointer;
                                &::after{
                                    content: '\F4F2';
                                    position: absolute;
                                    top: 50%;
                                    left: 50%;
                                    display: block;
                                    font-family: vars.$bs-font;
                                    font-size: 40px;
                                    color: vars.$white;
                                    transform: translate(-50%, -50%);
                                }
                                img{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    left: 0;
                                    object-fit: cover;
                                    opacity: 0.5;
                                }
                            }
                            .video-youtube{
                                position: relative;
                            }
                        }
                    }
                    .news-wrap{
                        position: relative;
                        width: 100%;
                        ul.news-lists{
                            list-style: none;
                            li.news-list{
                                position: relative;
                                width: 100%;
                                padding: 10px 5px;
                                border-bottom: 1px solid rgba(vars.$black, 0.3);
                                overflow: hidden;
                                a{
                                    position: relative;
                                    display: -webkit-box;
                                    -webkit-line-clamp: 1;
                                    -webkit-box-orient: vertical;
                                    font-size: 18px;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                }
                                &:last-child{
                                    border: none;
                                }
                            }
                        }
                    }
                }
                article.arirang-show{
                    position: relative;
                    ul.arirang-show-lists{
                        position: relative;
                        list-style: none;
                        display: flex;
                        gap: 1vw;
                        li.arirang-show-list{
                            width: 100%;
                            cursor: pointer;
                            box-shadow: 0 0 15px rgba(vars.$black, 0.5);
                            .thum{
                                position: relative;
                                width: 100%;
                                height: 0;
                                padding-top: 140%;
                                img{
                                    position: absolute;
                                    width: 100%;
                                    height: 100%;
                                    top: 0;
                                    bottom: 0;
                                    object-fit: cover;
                                }
                            }
                        }
                    }
                }
            }
            .content-right{
                position: relative;
                display: flex;
                flex-direction: column;
                flex: 1;
                article.museum-info{
                    position: relative;
                    height: 100%;
                    .content-info{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        height: 100%;
                        gap: 2vh;
                        .museum-map{
                            position: relative;
                            width: 100%;
                            height: 60%;
                            iframe{
                                position: absolute;
                                top: 0;
                                bottom: 0;
                                width: 100%;
                                height: 100%;
                            }
                        }
                        address.museum-overview{
                            position: relative;
                            display: block;
                            padding: 5% 4%;
                            height: 50%;
                            dl{
                                font-style: normal;
                                font-size: 20px;
                                margin: 0;
                                dt{
                                    font-weight: 800;
                                    display: block;
                                    margin-bottom: 1vh;
                                    &:not(:first-child){
                                        margin-top: 3vh;
                                    }
                                    em{
                                        display: inline-block;
                                        font-style: normal;
                                        font-size: 14px;
                                        margin-left: 0.5vw;
                                        font-weight: 700;
                                        color: vars.$dark-brown;
                                    }
                                }
                                dd{
                                    margin: 0;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}