@use "variables" as vars;
@use "common";
@use "reset";

.main-page-container{
    position: relative;
    width: 100%;
    top: 100%;
    z-index: 50;
    section.slide-banner{
        position: relative;
        width: 100%;
        display: flex;
        .slide-wrap{
            position: relative;
            .banner{
                position: relative;
                display: flex;
                padding: 0 12.5vw;
                justify-content: space-between;
                align-items: center;
                height: 100vh;
                background-color: rgba(vars.$sand, 1);
                background-size: cover;
                &::before{
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    background-image: url(../images/top-bg-1.jpg);
                    background-size: cover;
                    opacity: 0.5;
                    z-index: 1;
                }
                &>[class*=-section]{
                    transform: translateY(8%);
                }
                .title-section{
                    @include common.title-container;
                }
                .thum-section{
                    @include common.thum-container;
                }
                &.first::before{
                    background-position-y: 10%;
                }
                &.second::before{
                    background-position-y: 80%;
                }
            }
        }
        .btn-items{
            position: absolute;
            top: 70vh;
            left: 12vw;
            width: 10%;
            [class*=swiper-button]{
                padding: 30px;
                border-radius: 50%;
                border: 3px solid vars.$black;
                &::after{
                    content: '\F285';
                    font-family: vars.$bs-font;
                    color: vars.$black;
                    font-size: 32px;
                }
                &:first-child::after{
                    transform: rotate(180deg);
                }
            }
        }
    }
    section.about{
        position: relative;
        width: 100%;
        background-color: vars.$sand;
        .about-inner{
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20vh;
            height: 100%;
            &>[class*=-section]{
                display: flex;
                justify-content: space-between;
                z-index: 60;
                width: 100%;
                .hero-section{
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    .title{
                        h2.main-title{
                            position: relative;
                            display: block;
                            width: fit-content;
                            font-size: 56px;
                            font-family: vars.$Kor-head;
                            font-weight: 800;
                            letter-spacing: -2px;
                            z-index: 30;
                            &::before{
                                content: '';
                                position: absolute;
                                width: 100%;
                                height: 30px;
                                left: 0;
                                bottom: 0;
                                display: block;
                                background-color: vars.$sand-brown;
                                z-index: -1;
                            }
                        }
                        p.sub-title{
                            font-size: 32px;
                            font-family: vars.$Kor-head;
                            font-weight: 800;
                            line-height: 30px;
                            letter-spacing: -2px;
                        }
                    }
                    .stat-box{
                        font-family: vars.$Kor-cont;
                        font-size: 24px;
                        font-weight: 600;
                        p.stat-intro{
                            margin: auto;
                        }
                        .stat-count{
                            display: flex;
                            gap: 1vw;
                            span{
                                font-size: 24px;
                                font-weight: 600;
                                color: vars.$dark-brown;
                            }
                            span.stat-type-num{
                                font-family: vars.$Eng;
                                font-size: 60px;
                                font-weight: 800;
                                letter-spacing: -2px;
                            }
                        }
                    }
                    p.info-text{
                        width: 70%;
                        word-break: keep-all;
                        font-family: vars.$Kor-cont;
                        font-size: 24px;
                        line-height: 36px;
                        font-weight: 500;
                    }
                }
                .thum-section{
                    position: relative;
                    .main-thum{
                        position: relative;
                        min-width: 25vw;
                        right: 0;
                        height: 0;
                        padding-top: 70%;
                        transform: translateY(-20%);
                        border-top-right-radius: 18% 30%;
                        border-bottom-left-radius: 18% 30%;
                        overflow: hidden;
                        img{
                            position: absolute;
                            width: 150%;
                            height: 120%;
                            bottom: 0;
                            right: 0;
                            object-fit: contain;
                        }
                    }
                    .sub-thum{
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        min-width: 12vw;
                        height: 0;
                        transform: translateX(-50%);
                        padding-top: 40%;
                        border-top-left-radius: 25% 30%;
                        border-bottom-right-radius: 25% 30%;
                        overflow: hidden;
                        img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            top: 0;
                            left: 0;
                            object-fit: cover;
                        }
                    }
                }
            }
            .about-bg{
                position: absolute;
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                grid-template-rows: auto auto auto;
                top: 0;
                width: 100%;
                height: 100%;
                z-index: 20;
                &>[class*=-bg]{
                    position: relative;
                    margin-top: auto;
                    transform: translateY(-50%);
                    img{
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        top: 0;
                        bottom: 0;
                        object-fit: cover;
                        opacity: 0.2;
                    }
                }
                .top-bg{
                    width: 20vw;
                    padding-top: 40%;
                }
                .bottom-bg{
                    position: relative;
                    width: 35vw;
                    padding-top: 30%;
                    grid-column: 3;
                    grid-row: 3;
                    img{
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 100%;
                        height: 100%;
                        transform: rotateY(180deg);
                        object-fit: contain;
                    }
                }
            }
        }
    }
    section.lyrics{}
    section.types{}
    section.unesco{}
    section.content{}
}