// FONTS
$Eng: "Montserrat", sans-serif;
$Kor-top: 'JSArirangHON-Regular';
$Kor-head: 'Nanum Myeongjo', serif;
$Kor-cont: 'Nanum Gothic', sans-serif;

// COLORS
$black: #222222;
$gray: #777777;
$dim-gray: #D3D3D3;
$light-gray: #EEEEEE;
$white: #FFFFFF;
$sand-brown: #BCA48A;
$sand: #F3EEDE;
$dark-brown: #774E35;
$crimson: #7C1216;
$dark-navy: #212447;
